*{
    color:rgb(30, 203, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* site bg color (body color) */
body{
    animation: colortransition 6s infinite alternate;
}
@keyframes colortransition {
    0% {
        background-color: #020012;
    }
    45%{
        background-color: rgb(36, 71, 0);
    }
    70%{
        background-color: rgb(96, 4, 23);
    }
    100% {
        background-color: #337479;
    }
    }
                                       
                                       /* Translate website button */
                                                /*  flag */
img{
    cursor: pointer;
    border-radius: 7px;
    width:80px;
    margin-left:15px;
    margin-top:15px;
}
                                         /* full Registration   */    
.Registration{
    margin-left:35%;
    margin-top: 5%;
    font-size: larger;
    /* background-color: red; */
    height: 650px;
    width: 600px;
    box-shadow: 10px 10px 50px;
    backdrop-filter: blur(20px);
    border-radius: 40px;
}
/* everything in form */
form{
    margin-left:40px
}
/* all inputs */
input, select{
    border-radius: 15px;
    font-size: large;
    background-color: rgb(0, 0, 0);
    border-width:0px;
    cursor:pointer;
    padding-left: 30px;
}
input:hover{
    box-shadow: 1px 1px 20px;
}

/* name + lastname */
#name, #lastname, #date{
    width: 188px;
    height: 40px; 
}
/* emeil password and username */
#email, #password, #username {
    width: 450px; 
    height: 40px;
} 
.Gender{
    margin-top: -40px;
    margin-left: 300px 
}
/* title */
h1{
    margin-left:180px;
}
/* icon */
.bx{
    font-size: xx-large;
    cursor:pointer
}
.information{
    margin-left: 20%;
}
#information{
    margin-left:5%;
    border-radius: 30px;
    width: 140px;
    height: 30px;
}
.agree{
    margin-top:30px;
    margin-left:15%
}
#submit{
    margin-left:30%;
    width:150px;
    padding-left: 10px;
    height: 30px;
}

/* more information */
p{
    margin-left:20px;
    margin-top:10%;
}